.aboutus-title-content {
    margin-top: 10px;
    width: 540px;
    font-weight: 400;
    font-style: 'normal';
    font-size: 17px;
    line-height: '150%'
}

@media (max-width: 768px) {
    .aboutus-title-content {
        width: 100%;
    }
}

.aboutus-main {
    margin-top: 80px;
}
.aboutus-main-sub {
    margin-bottom: 42px;
}

.aboutus-main-sub-title {
    color: var(--main-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    padding-right: 20px !important;
    margin-top: 6px !important;
    margin-bottom: 20px !important;
}

.aboutus-main-sub-content {
    color: var(--letter-color);
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
}

@media (max-width: 992px) {
    .aboutus-main {
        margin-top: 40px;
    }
}

.try-luck-button {
    float: right;
    width: 200px;
    text-transform: none !important;
    background-color: var(--main-color) !important;
    color: white !important;
    margin-bottom: 50px !important;
}